<p><%= notice %></p>


<% @blogs.each do |blog| %>
<div class="card">
  <div class="card-body">
    <h3 class="card-title"><%= blog.title %></h3>
    <p class="card-text"><%= blog.body %></p>
    <%= link_to 'Show', blog, class:"btn btn-primary" %>
  </div>
</div>
<br>
<% end %>
